@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

:root{
/* fonts */
--ppk-primary-font:"open sans",sans series

/* colors */
--ppk-fontcolor-descount:#bd4949;

/* padding  */
--ppk-padding-s:10px;
--ppk-padding-m:20px;
--ppk-padding-l:30px;
--ppk-padding-xl:40px;
/* margin */
--ppk-margin-s:10px;
--ppk-margin-m:20px;
--ppk-margin-l:30px;
--ppk-margin-xl:40px;
/* gap */
--ppk-gap-xs: 10px;
--ppk-gap-s: 20px;
--ppk-gap-m: 30px;
--ppk-gap-l: 40px;
--ppk-gap-xl: 50px;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ppk-primary-font);
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.flex-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap:20px;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:var(--ppk-gap-s)
}
 .home{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap:40px;
 
} 
header{
  height: 15svh;
  position: fixed;
  background-color:rgb(234, 237, 240);
  width:100svw;
  padding: var(--ppk-padding-m);
  z-index: 2;
}
.menu {
  display: none;
  cursor: pointer;
  width: 30px;
  position: relative;
   z-index: 2; 
}
#checkbox {
  display: none;
}
#checkbox:checked ~nav{
  width: 200px;
}
header >img{
  width:400px;
}
.home img{
  width:75px;
  height:50px;
  border-radius: 50%;
  object-fit: contain;

}
.home img:hover{
  transform: scale(1.2);
}

#hero{
  padding: var(--ppk-padding-m);
  padding-top:300px;
 position: relative;
  height: 100svh;
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
  background-image: url("https://peprikka.com/cdn/shop/files/1880x720_1.png?v=1701863016&width=1370");
  width:100svw;
  animation: change-background 10s infinite step-end;
  
}


#hero>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
  height:100%;
  gap:20px;
  flex-wrap: wrap;
}

#hero>div>h1{
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
}
#hero>div>p{
  font-size: 40px;
}
.button1{
  height:45px;
  width:250px;
  border: none;
  border-bottom: 5px solid blue;
  cursor: pointer;}
  
  
  
    
  
#share img{
  width:40px;
}
#share{
  position: fixed;
  top:250px;
  right:auto;
  padding: var(--ppk-padding-m);
  z-index: 2;
}
#latest{
  padding: var(--ppk-gap-m);
  padding-top: 200px;
}
#latest>h2{
  font-size: 80px;
}
#latest>button{
  width:200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(158, 158, 219);
}
#collections{
  padding-top: 250px;
  display:flex;
  padding: var(--ppk-padding-xl);
  flex-wrap: wrap;
  gap:var(--ppk-gap-m);
  min-width:300px;
  flex-direction: row;
  margin: 0;
  /* position: relative; */
  width:100%;

  
}
.flex-row{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  
}
.product img{
  width:300px;
  
}
.product{
  position:relative ; 
  padding: 20px;
  display:flex;
  flex-direction: column;
  gap: var(--ppk-gap-m);
  margin: 0;
  
}
#wishlist img{
  width:30px;
}
#wishlist{
  position: absolute;
  top:50px;
  left:20px;
  visibility: hidden;
  border-radius: 100%;
  border:none;
}
.product:hover{
  #wishlist{
    visibility: visible;
    transform: scale(1.5);
  }
  #Buynow{
    visibility: visible;
    transform: scale(1.1);
  }
  .dress{
    transform: scale(1.1);
  }
}
#Buynow{
  width:250px;
  height: 35px;
  left:35px;
  bottom:20px;
  position:absolute;
  visibility: hidden;
}
.description{
padding-top:var(--ppk-padding-s);
display: flex;
flex-direction: column;
gap: var(--ppk-gap-m);
align-items: center;

}
.description>h3{
  font-weight: bold;
  font-size: 22px;
  color: black;
}
.description>p{
font-style: italic;
font-weight: bold;
font-size: 18px;
color: black;
}
.description span{
  text-decoration: line-through;
  color: brown;
}
.trendy img{
  width:300px;
height: 450px;
}
.wrap{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 200px !important;
  padding: var(--ppk-padding-s);
  gap: var(--ppk-gap-s);
  align-items: center;
  
}
.wrap >div{
  background-image: url("https://peprikka.com/cdn/shop/files/I64A6257_1880x.jpg?v=1705476277");
  min-width: 300px;
  width: 400px;
  height:650px;
  background-repeat: no-repeat;
  position: relative;
  background-size:cover;
}
.wrap >div>h2{
  font-size: 40px;
  position: absolute;
  bottom: 100px;
  animation: font-change 10s infinite linear;
}
.wrap >div>h3{
  font-size: 25px;
  position: absolute;
  bottom: 75px;
}
.trendy{
  display: flex;
  flex-direction: column;
  gap: var(--ppk-gap-s);
  width:400px;
}
.trendy>h2{
  font-size: 30px;
  font-weight: bolder;
  color:black
}
.trendy>p{
  font-size: 20px;
  color:black;
}
.trendy>button{
  width:150px;
  height:30px;
  background-color: rgb(121, 121, 182);
}
footer{
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
}
.policy{
  width:100svw;
 padding-top: var(--ppk-padding-l);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:black;
  background-color: rgb(117, 117, 163);
height: auto;
padding: var(--ppk-gap-s);
  gap:var(--ppk-gap-s)
}
.policy div{
  display: flex;
  flex-direction: column;
  gap: var(--ppk-gap-s);
  
}
.policy div p{
  font-size: 20px;
}
.policy >div p:first-child {
  font-weight: bold;
}
/* 
animations */
@keyframes change-background{  

  from{
background-image:url("https://peprikka.com/cdn/shop/files/1880x720_1.png?v=1701863016&width=1370") ;
  }
 
  75%{
    background-image: url("https://peprikka.com/cdn/shop/files/1880x720_b_1.jpg?v=1701861221&width=1370");
  }
  
} 
@keyframes font-change{
  from{
    font-size: 40px;
  }
  to{
    font-size: 65px;
    font-weight: bolder;
  }
}

/* responsive */
@media(max-width:1000px){
  .menu{
    display:block;
    width:100px;
  }
  header>img{
    min-width: 200px;
  }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100svh;
    width: 0;
    overflow: hidden;
    padding-top: 100px;
    transition: all 0.5s;
  }

  header nav ul {
  display:flex;
  flex-direction: column;
  background-color:rgb(234, 237, 240);;
  height: 100svh;
  gap: 20px;
  }
  #latest>h2{
    font-size: 50px;
  }
  header{
    width:100svw;
  }
  }
 
  /* cambiamos la width de menu hamburgesa */
  @media(max-width:768px){
    .menu{
      width:75px;
    }
    header{
      min-width: 400px;
    }
  }
  @media(max-width:550px){
    .menu{
      width:30px;
    }

    
  }
  @media(max-width:375px){
    .header{
      padding-top:var(--ppk-padding-l)
    }
    #checkbox:checked ~nav{
      width:100%;
    }
  }
@media(max-width:768px){
  #hero>div{
   min-width:300px;
  }
  #hero>div>h1{
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
  }
  #hero>div>p{
    font-size: 25px;
  }
  #hero>div>button{
    height:45px;
    width:150px;
    border: none;
    border-bottom: 5px solid blue;
  }
  #collections{
    gap:0
  }
}
@media(max-width:500px){
  #hero>div>h1{
    font-size: 50px;
  }
  #hero>div>p{
    font-size: 15px;
  }
  #hero>div>button{
    width:120px;
  }
  #latest>h2{
    font-size: 40px;
    min-width: 350px;
  }
}
/* cambiar los gap */
@media(max-width:1210px){
  #collections
  {
gap: 20px;
  }
}
@media(max-width:800px){
  #collections
  {
gap: 5px;
  }
}